body{
    margin-left: 20px;

}
.chart{
    background-color: aliceblue;
    display: inline-block;
    border-radius: 16px;
    padding: 20px;

   
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;;
}