<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolldicet</title>
</head>
<body>
    <!-- Using conditional statement EJS -->
    <h1>Dick value id:<%= dicval %></h1>
    <%if(dicval==6){%>
        <h2>Nice! Roll dick again</h2>
    <%}%>
</body>
</html>