<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="username"><br><br>
        <textarea type="text" name="content" placeholder="Write some thing"></textarea><br><br>
        <button>submit</button>
        <br><br>
       
    </form>
    
</body>
</html>